<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
        <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="web/coverage" lowUpperBound="35"
             highUpperBound="70"></log>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">TestA</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>